<% content_for :main_slider do %>
  <!-- start: Slider -->
  <div class="slider-wrapper">

    <div id="da-slider" class="da-slider">
      <div class="da-slide">
        <h2>Gadgify</h2>
        <p>Equip yourself with new gadgets.  Choose from either the IPad or the Nexus tablets to use on the go.</p>
        <a href="#" class="da-link">Read more</a>
        <div class="da-img"><%= image_tag "parallax-slider/ipad_many.png", alt: "twitter" %></div>
      </div>
      <div class="da-slide">
        <h2>Anywhere</h2>
        <p>Use anywhere. At the airport terminals, for business trips, or anywhere you want.  Just locate a Gadgify box near you.</p>
        <a href="#" class="da-link">Read more</a>
        <div class="da-img"><%= image_tag "parallax-slider/layover_2.jpg", alt: "responsive" %></div>
      </div>
      <div class="da-slide">
        <h2>Anytime</h2>
        <p>Free yourself from boredom.  Stay connected and in touch with friends and family.  Sports and entertainment.  Always.</p>
        <a href="#" class="da-link">Read more</a>
        <div class="da-img"><%= image_tag "parallax-slider/anytime.jpg", alt: "css3" %></div>
      </div>

      <div class="da-slide">
        <h2>Any Situation</h2>
        <p>For everyone to enjoy.</p>
        <a href="#" class="da-link">Read more</a>
        <div class="da-img"><%= image_tag "parallax-slider/ipad_kids.png", alt: "html5" %></div>
      </div>

      <nav class="da-arrows">
        <span class="da-arrows-prev"></span>
        <span class="da-arrows-next"></span>
      </nav>
    </div>

  </div>
  <!-- end: Slider -->
<% end %>

<% content_for :feature_list do %>
  <!--start: Wrapper-->
  <div id="wrapper">

    <!--start: Container -->
      <div class="container">
        <div class='content-container'>
          <!-- start: Hero Unit - Main hero unit for a primary marketing message or call to action -->
          <div class="hero-unit">
            <p>
              Bringing gadgets to everyone anywhere anytime.  Introducing the Gadgify coming to a corner near you!
            </p>
            <p><%= link_to "Learn More!", "#", class: "btn btn-large btn-success" %></p>
          </div>
      <!-- end: Hero Unit -->

          <!-- start: Row -->
          <div class="row">

            <div class="span4">
              <div class="icons-box">
                <i class="ico-ok ico-color circle-color big"></i>
                <div class="title"><h3>Easy to use</h3></div>
                <p>
                  Find a Gadgify box near you.  Overcome the smart interface that blocks you from your Gadgets.  <strong>Win!</strong>
                </p>
                <div class="clear"></div>
              </div>
            </div>

            <div class="span4">
              <div class="icons-box">
                <i class="ico-ipad ico-color circle-color big"></i>
                <div class="title"><h3>Cutting Edge</h3></div>
                <p>
                  Gadgify boxes come loaded with the coolest gadgets including the Apple IPads, IPad Minis, and Google Nexus Tablets.
                  <strong>Try us!</strong>
                </p>
                <div class="clear"></div>
              </div>
            </div>

            <div class="span4">
              <div class="icons-box">
                <i class="ico-thumbs-up  ico-white circle-color-full big-color"></i>
                <div class="title"><h3>On Demand</h3></div>
                <p>
                  Determined to be at every corner.  For everyone to use anytime, anywhere, always.  <strong>Promise.</strong>
                </p>
                <div class="clear"></div>
              </div>
            </div>

          </div>
      <!-- end: Row -->

      <hr/>

      <!-- start: Row -->
      <div class='row'>
        <div class='span5'>
          <div class='row'>
              <%= image_tag 'ipads_lots.png', :size => "400x600" %>
          </div>
        </div>
        <div class='span7 '>
          <div class='row'>
            <h2>Dozens of IPads and various gadgets to choose from. <span class="label label-info veritical-align-top"></span></h2>
          </div>
          <br/>
          <div class='row'>
            <blockquote class=''>
              With over a dozen of IPads and Google Nexus Tablets to choose from, you are always certain to have your choice of the latest and greatest gadgets at your fingertips.  These gadgets can be used for any purposes that typical tablets are used for and additional content exclusively provided by Gadgify.  Go ahead, <strong>enjoy</strong> and <strong>indulge</strong>.
              <small>A little more than a dozen...</small>
            </blockquote>
          </div>
        </div>
      </div> <!-- End Row -->
      <hr/>

      <div class='row'>
        <div class='span7'>
          <div class='row'>
            <h2 class='pull-right'>Everywhere Anywhere Anytime<span class="label label-success veritical-align-top">Literally</span></h2>
          </div>
          <br/>
          <div class='row'>
            <blockquote class='pull-right'>
              On the go?  Layovers? Delayed Flights? Crying baby?  Bored?  Just the few cases where Gadgify boxes may come and save your day.  Go ahead, swipe that credit card and treat yourself out to the latest and greatest gadgets.  Beat the crying baby, fight the time, and kiss boredom goodbye. <strong>Get Gadgify!</strong>
              <small>Not exactly everywhere. Yet...</small>
            </blockquote>
          </div>
        </div>
        <div class='span4 offset1'>
          <div class='row'>
              <%= image_tag "airport_ipads.png", :size => "400x650", :class => "img-polaroid" %>
          </div>
        </div>
      </div> <!-- End Row -->

      <hr/>

      <!-- start: Row -->
      <div class='row'>
        <div class='span5'>
          <div class='row'>
              <%= image_tag 'nexus_ipad.png', :size => "400x600" %>
          </div>
        </div>
        <div class='span7 '>
          <div class='row'>
            <h2>Growing to a place near you. <span class="label label-success veritical-align-top">Rapidly</span></h2>
          </div>
          <br/>
          <div class='row'>
            <blockquote class=''>
              We are constantly adding more Gadgify boxes at more corners and hotspots around your area.  Check us out at airport terminals first and let us know what you think!  Our Gadgify boxes are at airports but our vision sees Gadgify boxes at literally every corner where smart gadgets are needed.  With our easy to use interface, customer loyalty programs, and rapid a growing community, start getting use to us <strong>now</strong>.
              <small>Or later...</small>
            </blockquote>
          </div>
        </div>
      </div> <!-- End Row -->
      <hr/>
      <div class="clear"></div>

      </div> <!-- Content-container -->
    </div>
    <!--end: Container-->

  </div>
  <!-- end: Wrapper  -->
<% end %>