<% content_for :main_slider do %>
  <!-- start: Slider -->
  <div class="slider-wrapper">

    <div id="da-slider" class="da-slider">
      <div class="da-slide">
        <h2>Gadgify</h2>
        <p>Choose the latest and greatest gadgets. Rent anything from iPads to Nexus tablets to make your trip unforgettable.</p>
        <a href="#" class="da-link">Read more</a>
        <div class="da-img"><%= image_tag "parallax-slider/ipad_image_main.png", alt: "twitter" %></div>
      </div>
      <div class="da-slide">
        <h2>Anywhere</h2>
        <p>With locations across the country, Gadgify locations are readily accessible for your renting convenience.</p>
        <a href="#" class="da-link">Read more</a>
        <div class="da-img"><%= image_tag "parallax-slider/layover_2.jpg", alt: "responsive" %></div>
      </div>
      <div class="da-slide">
        <h2>Anytime</h2>
        <p>Don’t let boredom ruin your trip. Between games, movies and surfing the web, instant entertainment is just a click away.</p>
        <a href="#" class="da-link">Read more</a>
        <div class="da-img"><%= image_tag "parallax-slider/anytime.jpg", alt: "css3" %></div>
      </div>

      <div class="da-slide">
        <h2>Anybody</h2>
        <p>Kids, Teenagers, Adults, Technology Enthusiasts. We have the right tablet for you.</p>
        <a href="#" class="da-link">Read more</a>
        <div class="da-img"><%= image_tag "parallax-slider/ipad_situation.png", alt: "html5" %></div>
      </div>

      <nav class="da-arrows">
        <span class="da-arrows-prev"></span>
        <span class="da-arrows-next"></span>
      </nav>
    </div>

  </div>
  <!-- end: Slider -->
<% end %>

<% content_for :feature_list do %>
  <!--start: Wrapper-->
  <div id="wrapper">

    <!--start: Container -->
      <div class="container">
        <div class='content-container'>
          <!-- start: Hero Unit - Main hero unit for a primary marketing message or call to action -->
          <div class="hero-unit">
            <p>
              Bringing gadgets to Anybody, Anywhere, Anytime. Gadgify, coming soon at an airport near you!
            </p>
            <p><%= link_to "Learn More!", "#", class: "btn btn-large btn-success" %></p>
          </div>
      <!-- end: Hero Unit -->

          <!-- start: Row -->
          <div class="row">

            <div class="span4">
              <div class="icons-box">
                <i class="ico-ok ico-color circle-color big"></i>
                <div class="title"><h3>Easy to use</h3></div>
                <p>
                  Gadgify makes it as simple as possible to rent tablets on the go. With the best preloaded content, airports have never been more fun.
                </p>
                <div class="clear"></div>
              </div>
            </div>

            <div class="span4">
              <div class="icons-box">
                <i class="ico-ipad ico-color circle-color big"></i>
                <div class="title"><h3>Cutting Edge</h3></div>
                <p>
                  Gadgify boxes come loaded with the coolest gadgets including the Apple IPads, IPad Minis, and Google Nexus Tablets. 
                 
                </p>
                <div class="clear"></div>
              </div>
            </div>

            <div class="span4">
              <div class="icons-box">
                <i class="ico-thumbs-up  ico-white circle-color-full big-color"></i>
                <div class="title"><h3>On Demand</h3></div>
                <p>
                 Coming to airports across the U.S. today! Look for a Gadgify box to spice up your next trip.
                </p>
                <div class="clear"></div>
              </div>
            </div>

          </div>
      <!-- end: Row -->

      <hr/>

      <!-- start: Row -->
      <div class='row'>
        <div class='span5'>
          <div class='row'>
              <%= image_tag 'ipads_lots.png', :size => "400x600" %>
          </div>
        </div>
        <div class='span7 '>
          <div class='row'>
            <h2>Dozens of iPads and Various Tablets to Choose From</h2>
          </div>
          <br/>
          <div class='row'>
            <blockquote class=''>
              With dozens of top tablets to choose from, the latest and greatest gadgets are always at your fingertips. Every tablet is LOADED with additional content exclusively provided by Gadgify, including the top games, movies and so much more!   Go ahead, <strong>enjoy</strong> and <strong>indulge</strong>.
       
            </blockquote>
          </div>
        </div>
      </div> <!-- End Row -->
      <hr/>

      <div class='row'>
        <div class='span7'>
          <div class='row'>
            <h2 class='pull-right'>Anywhere Anytime</h2>
          </div>
          <br/>
          <div class='row'>
            <blockquote class='pull-right'>
              On the go? Layovers? Delayed Flights? Crying baby? Bored? Revitalize your airport experience with the instant entertainment of a tablet! Overcoming boredom has never been so easy.  <strong>Get Gadgify!</strong>
         
            </blockquote>
          </div>
        </div>
        <div class='span4 offset1'>
          <div class='row'>
              <%= image_tag "airport_ipads.png", :size => "400x650", :class => "img-polaroid" %>
          </div>
        </div>
      </div> <!-- End Row -->

      <hr/>

      <!-- start: Row -->
      <div class='row'>
        <div class='span5'>
          <div class='row'>
              <%= image_tag 'nexus_ipad.png', :size => "400x600" %>
          </div>
        </div>
        <div class='span7 '>
          <div class='row'>
            <h2>Growing to an Airport Near You</h2>
          </div>
          <br/>
          <div class='row'>
            <blockquote class=''>
              Gadgify boxes are rapidly spreading to an airport near you. We commit to bring our customers the cheapest price possible and convenient locations to optimize your airport experience. With our easy to use interface, customer loyalty programs, and a growing community, we hope to see you soon!
            </blockquote>
          </div>
        </div>
      </div> <!-- End Row -->
      <hr/>
      <div class="clear"></div>

      </div> <!-- Content-container -->
    </div>
    <!--end: Container-->

  </div>
  <!-- end: Wrapper  -->
<% end %>